<h1>Saved Articles</h1>

<%# For each article, display it as an item in the list %>
<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="\articles\<%=article.id%>">
      <%= article.title %>
    </li>
  <% end %>
</ul>
